#!/usr/bin/make -f

%:
	dh $@ --with python3

override_dh_auto_install:
	python3 setup.py install --root=debian/qygmy --install-layout=deb --install-lib=/usr/share/qygmy --install-scripts=/usr/share/qygmy

override_dh_auto_build:

